/* SCREEN SIZE */

@media (max-width: 480px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 1200px) {
    /* DIV FOR SIZE */
    .div-for-media {
        width: 956px;
    }
    /* SIZES HEADER */
    .logo {
        padding: 30.24px 702.38px 29.93px 81.38px
    }
    button-enter {
        /* padding: 16px 27px 702.38px 16px; */
    }
}


/* MAIN */

* {
    margin: 0;
}


/* HEADER */


/* BACKGROUND */

header {
    height: 72px;
    width: 100%;
    background-size: cover;
    background-color: #ffffff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    /* Параметры тени */
}


/* FLEXBOX */

.flex-box {
    display: flex;
}


/* LOGO */

.logo {
    width: 119.23px;
    height: 12.31px;
}


/* BUTTON */

.button-enter {
    justify-content: flex-end;
}

button {
    border: 1px solid #E0E0E0;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    padding: 14px 20px 14px 20px;
}

.basket {
    justify-content: flex-end;
}


/* END HEADER */